@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Raleway&display=swap');

:root {
     --Dark_blue: #02073E;
     --Green_gray: #0A8080;
     --Blue_gray: #0F2137;
     --Skin_color: #FFF5ED;
}

*,
*::before,
*::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
     width: 10px;
     height: 8px;
}

::-webkit-scrollbar-track {
     background-color: #e4e4e4;
     border-radius: 100px;
}

::-webkit-scrollbar-thumb {
     border-radius: 100px;
     background-color: #48e617d0;
     border: 2px solid transparent;
     background-clip: content-box;
    
}

::-webkit-scrollbar-thumb:hover {
      background-color:  #3cff00;  
}