@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Raleway&display=swap');


/* Global css */
:root {
  --Dark_blue: #02073E;
  --Green_gray: #0A8080;
  --Blue_gray: #0F2137;
  --Skin_color: #FFF5ED;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #48e617d0;
  border: 2px solid transparent;
  background-clip: content-box;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #3cff00;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  justify-content: space-between;
  padding: .5rem 0;
  font-size: .875rem;
}

.vertically_center {
  display: flex;
  align-items: center;
}

.content_area {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 25ch;
  margin: 0 auto;
  font-family: "B612";
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  font-family: "B612";
}

h2+p {
  text-align: center;
  max-width: 45ch;
  margin: 0 auto;
  padding: .6rem 0;
  line-height: 2.1;
  font-size: .875rem;
}

/* team section */

.bgc_lightOrange {
  border-radius: 5px;
  background: #FFFAF6;
  mix-blend-mode: darken;
}

.bgc_skyGreen {
  border-radius: 5px;
  background: #F7FBFB;
  mix-blend-mode: darken;
}

.bgc_skinBrown {
  border-radius: 5px;
  background: #FBF8F6;
  mix-blend-mode: darken;
}

input[type="email"] {
  border-radius: 5px;
  background: #EFF3F7;
  border: none;
  padding: .4rem .8rem;
}

.field_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: .5rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "B612";
}

.para {
  padding: .6rem 0;
  line-height: 1.7;
  font-size: .875rem;
  max-width: 45ch;
}

input[type="checkbox"] {
  margin-right: .5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
  justify-content: space-between;
}

.overflow-hidden {
   overflow-x: hidden;
}

@media screen and (min-width:769px) {
  h1 {
    font-size: 2.25rem;
  }
  input[type="email"] {
    padding: .8rem 1rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

.mask {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cross {
   cursor: pointer;
}

.cross:hover {
   color:red
}