@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&family=Sriracha&display=swap');;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #48e617d0;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3cff00;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.vertically_center {
  display: flex;
  align-items: center;
}

.content_area {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 25ch;
  margin: 0 auto;
  font-family: "B612";
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  font-family: "B612";
}

h2 + p {
  text-align: center;
  max-width: 45ch;
  margin: 0 auto;
  padding: 0.6rem 0;
  line-height: 2.1;
  font-size: 0.875rem;
}

/* team section */

.bgc_lightOrange {
  border-radius: 5px;
  background: #fffaf6;
  mix-blend-mode: darken;
}

.bgc_skyGreen {
  border-radius: 5px;
  background: #f7fbfb;
  mix-blend-mode: darken;
}

.bgc_skinBrown {
  border-radius: 5px;
  background: #fbf8f6;
  mix-blend-mode: darken;
}

input[type="email"] {
  border-radius: 5px;
  background: #eff3f7;
  border: none;
  padding: 0.4rem 0.8rem;
}

.field_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "B612";
}

.para {
  padding: 0.6rem 0;
  line-height: 1.7;
  font-size: 0.875rem;
  max-width: 45ch;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  justify-content: space-between;
  align-items: center;
}

footer > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.overflow-hidden {
  overflow-x: hidden;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.25rem;
  }
  input[type="email"] {
    padding: 0.8rem 1rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  footer > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8rem;
  }
}

.mask {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cross {
  cursor: pointer;
}

.cross:hover {
  color: black;
}

.backImage {
   background-image: url("./Assets/scattered-forcefields.svg");
}
